<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}Horizon TechTree{% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('dist/css/main.min.css') }}" media="screen,projection"/>
    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/web/js/materialize.js') }}"></script>
    {% block javascripts_head %}{% endblock %}
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="https://developer.cdn.mozilla.net/static/img/favicon144.a6e4162070f4.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://developer.cdn.mozilla.net/static/img/favicon114.0e9fabd44f85.png">
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="{{ asset('icon_active/web_hi_res_512.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="192x192"
          href="{{ asset('icon_active/res/mipmap-xxxhdpi/icon_active.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('icon_active/res/mipmap-xxhdpi/icon_active.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="96x96"
          href="{{ asset('icon_active/res/mipmap-xhdpi/icon_active.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('icon_active/res/mipmap-hdpi/icon_active.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('icon_active/res/mipmap-hdpi/icon_active.png') }}">
    <link rel="shortcut icon" href="{{ asset('icon_active/res/mipmap-mdpi/icon_active.png') }}">
</head>
<body>

{% block navigation %}
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ path('user_profile') }}">Profil</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('user_planets') }}">Planeten</a></li>
        <li><a href="{{ path('user_sciences') }}">Forschungen</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('logout') }}">Abmelden</a></li>
    </ul>

    {#<div class="navbar-fixed">#}
    <nav class="indigo darken-2" role="navigation">
        <div class="nav-wrapper">
            <a href="{{ path('web_homepage') }}" class="brand-logo hide-on-med-and-down">TechTree 5</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="container">
                <div class="row">
                    <div class="col s2 m5">
                        <ul class="hide-on-med-and-down">
                            <li><a href="{{ path('item_list', {type: 'building' }) }}">Gebäude</a></li>
                            <li><a href="{{ path('item_list', {type: 'research' }) }}">Forschungen</a></li>
                            <li><a href="{{ path('item_list', {type: 'ship' }) }}">Raumschiffe/Sonden</a></li>
                            <li><a href="{{ path('item_list', {type: 'defense' }) }}">Verteidigung</a></li>
                        </ul>
                    </div>
                    <div class="col s10 m3">
                        <form action="{{ path('search') }}" method="post">
                            <div class="input-field">
                                <input id="search" type="search" name="term" required{% if term is defined %} value="{{ term }}"{% endif %}>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                    <div class="col hide-on-med-and-down m2">
                        <ul class="right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a class="dropdown-button" href="#" data-activates="dropdown1"><i
                                                class="material-icons left">person</i> {{ app.user.username }}<i
                                                class="material-icons right">arrow_drop_down</i></a></li>
                            {% else %}
                                <li><a href="{{ path('login') }}">Anmelden</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div id="nav-mobile" class="side-nav mobile-nav">
                <a href="{{ path('web_homepage') }}" class="brand-logo indigo-text text-darken-2">TechTree 5</a>
                <ul>
                    <li><a href="{{ path('item_list', {type: 'building' }) }}">Gebäude</a></li>
                    <li><a href="{{ path('item_list', {type: 'research' }) }}">Forschungen</a></li>
                    <li><a href="{{ path('item_list', {type: 'ship' }) }}">Raumschiffe/Sonden</a></li>
                    <li><a href="{{ path('item_list', {type: 'defense' }) }}">Verteidigung</a></li>
                    <li class="divider"></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('user_profile') }}">Profil</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('user_planets') }}">Planeten</a></li>
                        <li><a href="{{ path('user_sciences') }}">Forschungen</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}">Abmelden</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Anmelden</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {#</div>#}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
{% endblock %}

<script type="text/javascript">
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('select').material_select();

        var flashMassage = '', flashClass;
        {% for type, messages in app.session.flashBag.all %}
            {% if 'info' == type %}
                flashClass = 'green lighten-1';
            {% endif %}
            {% if 'warning' == type %}
                flashClass = 'yellow darken-1';
            {% endif %}
            {% if 'error' == type %}
                flashClass = 'red lighten-1';
            {% endif %}
            {% for message in messages %}
                flashMassage = {{ message|json_encode|raw }};
                Materialize.toast(flashMassage, 5000, flashClass);
            {% endfor %}
        {% endfor %}
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
