{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h4>Change-Log</h4>
            {% for version, commits in changeLog %}
            <h5>Version {{ version }}</h5>
                <div class="collection">
                    {% for shortCommitId, commit in commits %}
                        <a class="collection-item" href="{{ commit['commit-url'] }}" target="_blank">#{{ shortCommitId }} - {{ commit.message }}</a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
