{% extends '::base.html.twig' %}
{% block title %}Login - {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <form action="{{ path('login') }}" method="post">
                    <div class="card login">
                        <div class="card-title">Login</div>
                        <div class="card-content">
                            {% if error %}
                                <div class="input-errors">
                                    <div class="input-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                </div>
                            {% endif %}
                            <div class="input-field">
                                <i class="material-icons prefix">account_box</i>
                                <label for="username">Username</label>
                                <input class="validate{% if error %} invalid{% endif %}" type="text" id="username" name="_username" value="{{ last_username }}"/>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">https</i>
                                <label for="password">Passwort</label>
                                <input class="validate{% if error %} invalid{% endif %}" type="password" id="password" name="_password"/>
                            </div>

                            <div class="input-field">
                                Noch keinen Account? Dann schnell <a href="{{ path('register') }}">registrieren</a>.
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>

                        <div class="card-action">
                            <button type="submit" class="waves-effect btn">login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>
{% endblock %}
