{% extends '::base.html.twig' %}
{% block title %}Registrieren - {{ parent() }}{% endblock %}
{% set baseInputClass = 'validate' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                {{ form_start(form) }}
                <div class="card login">
                    <div class="card-title">Registrieren</div>
                    <div class="card-content">
                        <div class="input-field">
                            <i class="material-icons prefix">account_box</i>
                            {% set inputClass = baseInputClass %}
                            {% if 0 < form.username.vars.errors.count %}
                                {% set inputClass = baseInputClass ~ ' invalid' %}
                            {% endif %}
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username, {'attr':{'class': inputClass}}) }}
                            {% if 0 < form.username.vars.errors.count %}
                                <div class="input-errors">
                                    {% for error in form.username.vars.errors %}
                                        <div class="input-error">{{ error.message }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% for child in form.password %}
                            {% set inputClass = baseInputClass %}
                            {% if 0 < child.vars.errors.count %}
                                {% set inputClass = baseInputClass ~ ' invalid' %}
                            {% endif %}
                            <div class="input-field">
                                <i class="material-icons prefix">https</i>
                                {{ form_label(child) }}
                                {{ form_widget(child, {'attr':{'class': inputClass}}) }}
                                {% if 0 < child.vars.errors.count %}
                                    <div class="input-errors">
                                        {% for error in child.vars.errors %}
                                            <div class="input-error">{{ error.message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="input-field grc">
                            <div class="g-recaptcha" data-sitekey="{{ recaptchaSiteKey }}"></div>
                            {% if not recaptchaValid %}
                                <div class="input-errors">
                                    <div class="input-error">Captcha-Überprüfung fehlgeschlagen!</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-action">
                        {{ form_widget(form.create) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_head %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
