{% extends '::base.html.twig' %}
{% block title %}Planeten - {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for planet in app.user.planets %}
                <form action="{{ path('user_planets_save', {id: planet.id}) }}" method="post">
                    <div class="col s12 l4 xl3">
                        <div class="card planet">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{{ planet_image(planet, 'large') }}" class="activator">
                                <div class="card-title">{{ planet.name }} - {{ planet_coords(planet) }}</div>
                            </div>

                            <div class="card-content">
                        <span class="card-title grey-text text-darken-4">
                            <a href="{{ path('user_planet_details', { id: planet.id }) }}" data-tooltip="Details">Details</a>
                            <i class="activator material-icons right">more_vert</i>
                        </span>

                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ planet.name }}
                                    <small>{{ planet_coords(planet) }}</small><i class="material-icons right">close</i></span>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-planet">
                                            <div class="input-planet-name input-field">
                                                <input name="planet[name]" type="text" value="{{ planet.name }}">
                                            </div>
                                            <div class="input-planet-coords input-field">
                                                <div class="input-planet-coords-galaxy">
                                                    <input name="planet[galaxy]" type="number"
                                                           value="{{ planet.galaxy }}">
                                                </div>
                                                <div class="input-planet-coords-system">
                                                    <input name="planet[system]" type="number"
                                                           value="{{ planet.system }}">
                                                </div>
                                                <div class="input-planet-coords-position">
                                                    <input name="planet[position]" type="number"
                                                           value="{{ planet.position }}">
                                                </div>
                                            </div>
                                            <div class="input-planet-type input-field">
                                                <select name="planet[type]" id="planetSelect" class="icons">
                                                    {% for planetType in [
                                                    'STPL', 'FOPL', 'JUPL', 'VUPL', 'LVPL',
                                                    'ICPL', 'EOPL', 'HYPL', 'WAPL', 'RKPL',
                                                    'CLPL', 'MUPL', 'ACPL', 'IDPL', 'MIPL',
                                                    'DSPL'
                                                    ]|sort %}
                                                        <option class="left" value="{{ planetType }}" data-icon="http://horiversum.org/game/pix/skins/default/planets/{{ planetType }}/pl_m_{{ planet.imageNo }}.png" {% if planetType|lower == planet.type %}selected{% endif %}>{{ planetType }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="input-planet-image input-field">
                                                <select name="planet[image]" id="planetNoSelect" class="icons">
                                                    {% for planetImage in 0..63 %}
                                                        <option class="left" value="{{ planetImage }}" data-icon="http://horiversum.org/game/pix/skins/default/planets/{{ planet.type|upper }}/pl_m_{{ planetImage }}.png" {% if planetImage == planet.imageNo %}selected{% endif %}>{{ planet.type|upper }} - Bild {{ planetImage }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="input-planet-actions input-field">
                                                <button type="submit" class="btn waves-effect waves-light green">Speichern</button>
                                                <button type="button" class="btn waves-effect waves-light red input-planet-actions-delete" data-action-url="{{ path('user_planets_delete', {id: planet.id}) }}">Löschen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>

    <div class="fixed-action-btn create-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green new-building-trigger" data-position="left"
           data-tooltip="Neuen Planeten erstellen">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function () {
            $('[data-tooltip]').tooltip({delay: 50, position: 'top'});
            var planetNoSelect = document.querySelector('#planetNoSelect'),
                planetSelect = document.querySelector('#planetSelect');

            var renderPlanetImages = function () {
                $(planetNoSelect).empty();

                var planet = $(this).val();
                for (var i = 0; i < 64; i++) {
                    var planetNoOption = document.createElement('option');
                    planetNoOption.value = i;
                    planetNoOption.dataset.icon = 'http://horiversum.org/game/pix/skins/default/planets/' + planet + '/pl_m_' + i + '.png';
                    planetNoOption.appendChild(document.createTextNode(planet + ' (Bild ' + i + ')'));
                    planetNoOption.classList.add('left');

                    planetNoSelect.appendChild(planetNoOption);
                }

                $(planetNoSelect).material_select();
            };

            $(planetSelect).on('change', renderPlanetImages).material_select();
            $(document).on('click', '.input-planet-actions-delete', function () {
                window.location.href = $(this).data('actionUrl');
            });
        })();
    </script>
{% endblock %}
