{% extends '::base.html.twig' %}
{% block title %}Profil - {{ parent() }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l6 offset-l3">
            <div class="card">
                <div class="card-head white-text" style="background: {{ user_gradient(app.user) }};">
                    <div class="card-avatar"><img class="responsive-img circle" src="{{ user_gravatar(app.user) }}"></div>
                    <div class="card-title">{{ app.user.username }}</div>
                </div>
                <div class="card-content">
                    <ul class="collection user">
                        <li class="collection-item">
                            <div class="title">Passwort</div>
                            <div class="action">
                                <button class="waves-effect waves-light btn-floating modal-trigger" data-target="changePasswordModal" title="Ändern"><i class="material-icons left" data-action="change-password">mode_edit</i></button>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="title">API-Key<br><small>z.B. für die Browser-Extension</small></div>
                            <div class="show-on-small hide-on-med-and-up flex-break-on-small"></div>
                            <div class="value" id="apiKeyValue">{{ app.user.apiKey }}</div>
                            <div class="action">
                                <button class="waves-effect waves-light btn-floating" title="{% if app.user.apiKey %}Neu erstellen{% else %}Erstellen{% endif %}" data-action="generate-api-key">
                                    <i class="material-icons left">{% if app.user.apiKey %}refresh{% else %}add{% endif %}</i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="changePasswordModal" class="modal small">
    {{ form_start(changePasswordForm) }}
    <div class="modal-content">
        <h4>Passwort ändern</h4>
        <div class="input-field">
            <i class="material-icons prefix">https</i>
            {{ form_label(changePasswordForm.oldPassword) }}
            {{ form_widget(changePasswordForm.oldPassword) }}
        </div>
        {% for child in changePasswordForm.newPassword %}
            <div class="input-field">
                <i class="material-icons prefix">https</i>
                {{ form_label(child) }}
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="modal-action waves-effect waves-green btn-flat">Ändern</button>
    </div>
    {{ form_end(changePasswordForm) }}
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(function() {
        $(document).on('click', '[data-action="generate-api-key"]', function () {
            $.ajax({
                url:{{ path('user_generate_api_key')|json_encode|raw }},
                type:"GET",
                success: function (response) {
                    $('#apiKeyValue').html(response.key);
                    Materialize.toast('API-Key wurde aktualisiert.', 3000, 'green lighten-1');
                }
            });
        });
        $('#changePasswordModal').modal();

        $(document).on('submit', 'form.ajax-form', function () {
            var $this = $(this);
            $.ajax({
                "url":$this.attr('action'),
                "type":$this.attr('method'),
                "data":$this.serializeArray(),
                "success":function (r) {
                    console.log(r);
                    if (r.success) {
                        $('#changePasswordModal').modal('close');
                        Materialize.toast('Dein Passwort wurde geändert.', 3000, 'green lighten-1');
                        $('input[type="password"]', '#changePasswordModal').removeClass('invalid').val('');
                        Materialize.updateTextFields();
                    } else {
                        if (r.errors.oldPassword) {
                            Materialize.toast(r.errors.oldPassword, 3000, 'red darken-1');
                            $('#change_password_oldPassword').addClass('invalid');
                        }
                        if (r.errors.newPassword) {
                            Materialize.toast(r.errors.newPassword, 3000, 'red darken-1');
                            $('#change_password_newPassword_password').addClass('invalid');
                        }
                    }
                }
            });

            return false;
        });
    });
</script>
{% endblock %}
