@import "variables";
@import "materialize";

h6 {
  font-size: 1.2rem;
}

.page-title {
  .small {
    font-size: 65%;
    margin-left: 1rem;
    &-type-building, &-type-research {
      text-transform: lowercase;
    }
    &-type-ship, &-type-defense {
      text-transform: uppercase;
    }
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.login-panel {
  margin-top: 100px;
  padding: 20px;
}

.card {
  &.login {
    margin-top: 150px;
    .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
      padding: 16px $card-padding 0;

      i {
        line-height: 32px;
      }
    }
  }

  &.planet {
    .card-image {
      background-color: #525862;
    }
  }
  .card-head {
    padding: $card-padding;
    .card-avatar, .card-title {
      display: flex;
      justify-content: center;
    }
    .card-title {
      font-variant: small-caps;
    }
  }
}

.user.collection {
  .collection-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title {
      flex: 1 1 100px;
    }
    .value {
      flex: 1 1 100px;
      font-size: 0.9rem;
    }
    .action {
      flex: 0 0 56px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.card-panel.item {
  padding: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .item-image {
    flex: 0 1 66px;
    margin-right: 8px;
  }

  .item-info {
    flex: 2 2 200px;
    margin-right: 8px;
    font-size: 1.2rem;
  }

  .item-input {
    flex: 1 1 66px;
    margin-right: 8px;
    .level-input {
      margin: 10px 0 0 0;
    }
    .level-label {
      transform: translateY(-4px) scale(0.8);
    }
  }

  .flex-wrap {
    flex: 0 0 100%;
  }

  .item-action {
    margin-top: 13px;
    flex: 0 1 60px;
    display: flex;
    justify-content: center;
    .btn-floating {
      margin-left: 10px;
    }
  }
}

.new-item-modal {
  .select-dropdown {
    &.dropdown-content {
      max-height: 500%;
    }
  }
}

.item-level-input {
  margin: 0;
  display: none;

  label {
    top: 6px;
  }

  input {
    margin: 0
  }
}

.card-content {
  .row {
    margin-bottom: 0;
  }
}

nav .input-field {
  height: 64px;
}

.card.planet .card-content .card-title {
  margin-bottom: 0;
  .activator {
    cursor: pointer;
  }
}

.input-planet {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px;
  input {
    margin: 0;
  }
  .input-field {
    margin-top: 5px;
  }
  &-name {
    margin-left: 3px;
    margin-right: 3px;
    flex: 1 1 100%;
  }
  &-coords {
    display: flex;
    flex: 1 1 100%;
    &-galaxy {
      margin-left: 3px;
      margin-right: 3px;
      flex: 1 1 35px;
    }
    &-system {
      margin-left: 3px;
      margin-right: 3px;
      flex: 1 1 50px;
    }
    &-position {
      margin-left: 3px;
      margin-right: 3px;
      flex: 1 1 40px;
    }
  }
  &-type {
    margin-left: 3px;
    margin-right: 3px;
    flex: 1 1 100%;
  }
  &-image {
    margin-left: 3px;
    margin-right: 3px;
    flex: 1 1 100%;
  }
  &-actions {
    display: flex;
    flex: 1 1 100%;
    margin: -3px;
    .btn {
      margin: 3px;
      flex: 1 1 50%;
      padding: 0 1rem;
    }
  }
  .select-wrapper input.select-dropdown {
    margin-bottom: 10px;
  }
}
.input-errors {
  color: red;
  font-size: 0.9rem;
  margin-left: 3rem;

}
input + .input-errors {
  margin-top: -20px;
  margin-left: 3.5rem;
}
nav .input-field input[type=search] + label {
  margin-top: -0.8rem;
}
.input-field.grc {
  margin-left: 45px;
  .input-errors {
    margin-left: 0;
  }
}

nav .nav-wrapper .brand-logo {
  margin-left:15px;
}

nav .mobile-nav .brand-logo {
  position: relative;
  display: block;
  margin: 0;
}

@media only screen and (max-width : #{$small-screen}) {
  .flex-break-on-small {
    flex: 0 0 100%;
  }
}
@media only screen and (min-width : #{$small-screen-up}) {
  .modal.small {
    width: 500px;
  }
}
.collection-item.avatar img.square {
  border-radius: 0;
}
.collection .collection-item.avatar {
  min-height: 0;
}
