@import "components/color";

$primary-color: color("indigo", "darken-4");

$secondary-color: color("indigo", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("blue", "darken-1");

$card-link-color: $primary-color;
$roboto-font-path: "../../../styles/fonts/roboto/";

$switch-buttons-speed: 500ms;
