{% extends '::base.html.twig' %}
{% block title %}{{ item.title|e }} - {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <h4 class="page-title">{{ item.title }} <span class="small small-type-{{ item.type }}">{{ item.name }}</span></h4>
                {% for level, levelRequirements in requirements %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Stufe {{ level }}</span>
                        <div class="collection">
                            {% for requirement in levelRequirements if requirement.itemLevel == level %}
                                <a class="collection-item avatar" href="{{ path('item_details', { id: requirement.requiredItem.id }) }}">
                                    <div class="right">Stufe {{ requirement.requiredItemLevel }}</div>
                                    <img src="{{ item_image(requirement.requiredItem) }}" alt="" class="circle square">
                                    <span class="title">{{ requirement.requiredItem.title }}</span>
                                    <p>{{ requirement.requiredItem.name }}</p>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
