{% extends '::base.html.twig' %}
{% block title %}{{ type_title(type) }} - {{ parent() }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
        <h4>{{ type_title(type) }}</h4>
        {% for category in categories %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ category.title }}</span>
                    <div class="collection">
                        {% for item in category.items %}
                            <a href="{{ path('item_details', { id: item.id }) }}" class="collection-item avatar">
                                <img src="{{ item_image(item) }}" alt="" class="circle square">
                                <span class="title">{{ item.title }}</span>
                                <p>{{ item.name }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
