{% extends '::base.html.twig' %}
{% block title %}Suche - {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <h4>Suche nach {{ term|e }}</h4>
                {% for type, items in searchResults if 0 < items|length %}
                    <div class="card">
                        <div class="card-content">
                        <span class="card-title">{{ type_title(type) }}</span>
                            <div class="collection">
                                {% for item in items %}
                                    <a href="{{ path('item_details', { id: item.id }) }}" class="collection-item avatar">
                                        <img src="{{ item_image(item) }}" alt="" class="circle square">
                                        <span class="title">{{ item.title }}</span>
                                        <p>{{ item.name }}</p>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
