{% extends '::base.html.twig' %}
{% block title %}{{ pageTitle }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
            <h4>{{ pageHeading }}</h4>
            {% for category in categories %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ category.category.title }}</span>
                        <div class="collection">
                            {% for item in category.items %}
                                <a href="{{ path('item_details', { id: item.item.id }) }}" class="collection-item avatar">
                                    <span class="right">Stufe {{ item.level }}</span>
                                    <img src="{{ item_image(item.item) }}" alt="" class="circle square">
                                    <span class="title">{{ item.item.title }}</span>
                                    <p>{{ item.item.name }}</p>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="fixed-action-btn create-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green new-item-trigger" data-position="left" data-tooltip="Neuen Eintrag erstellen">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div id="new_item_modal" class="modal new-item-modal">
        <form class="new-item-create-form">
            <div class="modal-content">
                <h4>{{ newItemDialog.title }}</h4>
                <div class="row">
                    <div class="col s6 offset-s3">
                        <div class="input-field">
                            <select name="itemId" class="item-select" id="item_select">
                                {% for category, items in newItemDialog.unregisteredItems %}
                                    <optgroup label="{{ category }}">
                                        {% for item in items %}
                                            <option class="left" value="{{ item.id }}" data-icon="{{ item_image(item) }}">{{ item.title }} ({{ item.name }})</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                            <label>{{ newItemDialog.itemLabel }}</label>
                        </div>
                    </div>
                    <div class="col s6 offset-s3">
                        <div class="input-field">
                            <input type="number" name="itemLevel" class="input">
                            <label>Stufe</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn-flat">Erstellen</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(function () {
        $(document).on('click', '.edit-item-level', function () {
            var itemId = $(this).data('itemId'),
                $this = $(this),
                $input = $('#item_level_input_' + itemId + '_input'),
                oldLevel = $input.val();

            $('#item_level_input_' + itemId).fadeIn(function () {
                $('#item_level_input_' + itemId + '_input').trigger('focus');
            });

            $input.on('blur', function () {
                $(this).off('blur');
                var newLevel = $(this).val();
                $('#item_level_input_' + itemId).fadeOut(function () {
                    $this.fadeIn();
                });

                $.ajax({
                    url:{{ pageRoutes.edit|json_encode|raw }},
                    type:"POST",
                    data:{
                        "itemId":itemId,
                        "level":newLevel
                    },
                    success: function (response) {
                        Materialize.toast(response.message, 3000, (response.success ? 'green' : 'red') + ' lighten-1');
                        if (response.success) {
                            $('#item_level_label_' + itemId).html(newLevel);
                        } else {
                            $input.val(oldLevel);
                        }
                    },
                    error: function(jqXHR, type, statusText) {
                        $input.val(oldLevel);
                        if (jqXHR.responseJSON) {
                            Materialize.toast(jqXHR.responseJSON.message, 3000, 'red lighten-1');
                        } else {
                            Materialize.toast(statusText, 3000, 'red lighten-1');
                        }
                    }
                });
            });
        });
        $('#new_item_modal').modal();
        $('select.item-select').material_select();

        $(document).on('click', '.new-item-trigger', function () {
            $('#new_item_modal').modal('open');
        });

        $(document).on('submit', '.new-item-create-form', function () {
            $.ajax({
                url:{{ pageRoutes.create|json_encode|raw }},
                type:"POST",
                data:$(this).serializeArray(),
                success: function (response) {
                    Materialize.toast(
                        response.message,
                        3000,
                        (response.success ? 'green' : 'red') + ' lighten-1',
                        function () {
                            window.location.href = {{ pageRoutes.get|json_encode|raw }};
                        }
                    );
                },
                error: function(jqXHR, type, statusText) {
                    $input.val(oldLevel);
                    if (jqXHR.responseJSON) {
                        Materialize.toast(
                            jqXHR.responseJSON.message,
                            3000,
                            'red lighten-1',
                            function () {
                                window.location.href = {{ pageRoutes.get|json_encode|raw }};
                            }
                        );
                    } else {
                        Materialize.toast(
                            statusText,
                            3000,
                            'red lighten-1',
                            function () {
                                window.location.href = {{ pageRoutes.get|json_encode|raw }};
                            }
                        );
                    }
                }
            });

            return false;
        });

        $(document).on('click', '.delete-item-level', function () {
            var itemId = $(this).data('itemId');
            $.ajax({
                url:{{ pageRoutes.delete|json_encode|raw }},
                type:"DELETE",
                data:{itemId:itemId},
                success: function (response) {
                    Materialize.toast(
                        response.message,
                        3000,
                        (response.success ? 'green' : 'red') + ' lighten-1',
                        function () {
                            window.location.href = {{ pageRoutes.get|json_encode|raw }};
                        }
                    );
                },
                error: function(jqXHR, type, statusText) {
                    $input.val(oldLevel);
                    if (jqXHR.responseJSON) {
                        Materialize.toast(
                            jqXHR.responseJSON.message,
                            3000,
                            'red lighten-1',
                            function () {
                                window.location.href = {{ pageRoutes.get|json_encode|raw }};
                            }
                        );
                    } else {
                        Materialize.toast(
                            statusText,
                            3000,
                            'red lighten-1',
                            function () {
                                window.location.href = {{ pageRoutes.get|json_encode|raw }};
                            }
                        );
                    }
                }
            });
        });

        $('[data-tooltip]').tooltip({delay: 50, position: 'top'});
    });
</script>
{% endblock %}
